.barra{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  
  }

  .item {
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    width: 300px;


  }

  p{
    color: black;
    font-size: 14px;
  }

  ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  
  ul.pagination li {display: inline;}
  
  ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  
  
  ul.pagination li a {
    border-radius: 5px;
    
  }
  
  
  .action{
    margin: 5px;
    background-color:#18A09A
  }

  .busca{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 20px;
    align-items: stretch;

    
  }

  input{
    margin-left: 10px;
    margin-right: 10px
  }

  @media screen and (max-width: 600px){
    .busca{
      display: flex;
      flex-direction: column;
      justify-content: right;
      margin: 20px;
      align-items: stretch;
  
      
    }
  }
  